{% extends 'catalog/base.html' %}

{% block content %}
    <div class="row">
        <div class="col">
            <h2>Renew: {{ instance.book.title }}</h2>
            <h3>Borrower: {{ instance.borrower.get_full_name }}</h3>
            <p{% if instance.is_overdue %} class="text-danger"{% endif %}>Due date: {{ instance.due_back }}</p>

            <form action="" method="post">
                {% csrf_token %}
                {{ form.as_table }}
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </div>
{% endblock %}