{% extends 'catalog/base.html' %}
{% block content %}
    <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-2">
        {% for book in book_list %}
            <div class="col">
                <div class="card h-100">
                    <div class="card-body">
                        <div class="row align-items-center">
                            <div class="col-4">
                                <a href="{{ book.get_absolute_url }}">
                                    <img src="https://images-na.ssl-images-amazon.com/images/I/51Zxy8c3oVL._SX379_BO1,204,203,200_.jpg"
                                         class="img-fluid rounded-start" alt="{{ book.title }}">
                                </a>
                            </div>
                            <div class="col-8">
                                <div class="card-body text-start">
                                    <a href="{{ book.get_absolute_url }}" class="link-dark text-decoration-none">
                                        <h5 class="card-title">{{ book.title }}</h5>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% empty %}
            <p>В библиотеку не завезли ещё ни одной книги :(</p>
        {% endfor %}
    </div>

    <!-- Пагинатор -->
    {% if page_obj.has_other_pages %}
        <div class="row">
            <div class="col g-2">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        {# Предыдущие страницы #}
                        {% if page_obj.has_previous %}
                            <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.previous_page_number }}">&lsaquo;</a>
                            </li>
                        {% endif %}

                        {# Текущие страницы #}
                        <li class="page-item active"><span class="page-link">
                        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
                    </span></li>

                        {# Последующие страницы #}
                        {% if page_obj.has_next %}
                            <li class="page-item"><a class="page-link"
                                                     href="?page={{ page_obj.next_page_number }}">&rsaquo;</a></li>
                            <li class="page-item"><a class="page-link" href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                            </li>
                        {% endif %}
                    </ul>
                </nav>
            </div>
        </div>
    {% endif %}
{% endblock content %}