{% load auth_extras %}

<header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark mb-4">
        <div class="container">

            <div class="navbar-brand">Library</div>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarCollapse" aria-controls="navbarCollapse"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalog:index' %}">Главная</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'catalog:authors' %}">Авторы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="{% url 'catalog:books' %}">Книги</a>
                    </li>
                </ul>

                {# Меню персонала #}
                {% if user|has_group:'Librarians' %}
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a href="{% url 'catalog:borrowed_books' %}" class="nav-link">Арендованные книги</a>
                    </li>
                </ul>
                {% endif %}

                {# Меню пользователя #}
                <ul class="navbar-nav">
                    {% if user.is_authenticated %}
                        {# Если пользователь залогинен #}
                        <li class="nav-item dropdown">
                            <span class="nav-link dropdown-toggle" id="navbarDropdown" role="button"
                               data-bs-toggle="dropdown" aria-expanded="false"> {{ user.get_full_name }} </span>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li><a class="dropdown-item" href="{% url 'catalog:my-borrowed' %}">My books</a></li>
                                <li>
                                    <hr class="dropdown-divider">
                                </li>
                                <li><a class="dropdown-item" href="{% url 'logout' %}?next={{ request.path }}">Sign
                                    out</a></li>
                            </ul>
                        </li>

                    {% else %}
                        {# Если пользователь аноним #}
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="{% url 'login' %}?next={{ request.path }}">Войти</a>
                        </li>
                    {% endif %}
                </ul>

            </div>
        </div>

    </nav>

</header>